

.uc_bulk_stock_updater_progress
{
	display: inline-block;
	background: transparent url(img/ajax-progress.gif) center center;
	width: 16px; 
	height:  16px;
}

input.error,
.uc_bulk_stock_updater_ajax_error
{
	background-color: #f00;
	color: #fff;
}


div#uc_bulk_stock_updater_filter-wrapper label { display: inline; }